openapi: 3.0.3
info:
  title: MindEcho API
  version: 0.2.0
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
servers:
  - url: https://api.mindecho.com
security:
  - bearerAuth: []
components:
  securitySchemes:
    bearerAuth: { type: http, scheme: bearer, bearerFormat: JWT }
  schemas:
    AuthCredentials:
      type: object
      required: [email, password]
      properties:
        email: { type: string, format: email, example: ruyman@example.com }
        password: { type: string, minLength: 8, example: Password123 }
    Tokens:
      type: object
      properties:
        accessToken: { type: string }
        refreshToken: { type: string }
    RefreshRequest:
      type: object
      required: [refresh_token]
      properties:
        refresh_token: { type: string }
paths:
  /health:
    get:
      operationId: getHealth
      summary: Liveness/Health
      responses:
        '200': { description: OK }
        '500': { description: Internal Server Error }

  /api/auth/register:
    post:
      operationId: registerUser
      summary: Registro de usuario
      requestBody:
        required: true
        content:
          application/json: { schema: { $ref: '#/components/schemas/AuthCredentials' } }
      responses:
        '201': { description: Creado, content: { application/json: { schema: { $ref: '#/components/schemas/Tokens' } } } }
        '400': { description: Datos inválidos }
        '409': { description: Email ya registrado }

  /api/auth/login:
    post:
      operationId: loginUser
      summary: Login
      requestBody:
        required: true
        content:
          application/json: { schema: { $ref: '#/components/schemas/AuthCredentials' } }
      responses:
        '200': { description: OK, content: { application/json: { schema: { $ref: '#/components/schemas/Tokens' } } } }
        '400': { description: Datos inválidos }
        '401': { description: Credenciales inválidas }

  /api/auth/refresh:
    post:
      operationId: refreshTokens
      summary: Rotar refresh y emitir nuevo par de tokens
      requestBody:
        required: true
        content:
          application/json: { schema: { $ref: '#/components/schemas/RefreshRequest' } }
      responses:
        '200': { description: OK, content: { application/json: { schema: { $ref: '#/components/schemas/Tokens' } } } }
        '400': { description: Datos inválidos }
        '401': { description: Refresh inválido o expirado }

  /api/auth/logout:
    post:
      operationId: logoutUser
      summary: Revocar refresh actual
      requestBody:
        required: true
        content:
          application/json: { schema: { $ref: '#/components/schemas/RefreshRequest' } }
      responses:
        '200': { description: OK }
        '400': { description: Datos inválidos }
        '401': { description: Refresh inválido }

  /api/auth/user/me:
    get:
      operationId: getUserProfile
      summary: Perfil autenticado
      security: [ { bearerAuth: [] } ]
      responses:
        '200': { description: OK }
        '401': { description: No autorizado }
